<%= provide(:title, "メニュー作成") %>
<%= render "layouts/login_header" %>
<div class="menu-page">
  <div class="menu-top">
    <h1>メニュー</h1>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_with(model: @menu, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name, "メニュー名" %>
        <%= f.text_field :name, class: 'form-control' %> 

        <%= f.label :description, "説明" %>
        <%= f.text_area :description, class: 'form-control' %>

        <%= f.label :price, "値段" %>
        <%= f.text_field :price, class: 'form-control' %> 

        <%= f.submit "メニューを追加する", class: "menu-botan" %>
      <% end %>
      <%= link_to "メニュー一覧はこちら", menus_path, class: "menus-index-botan" %>
    </div>
  </div>
</div>
