<%= form_with(model: reservation, local: true) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.label :name, "フルネーム(必ずご自身のお名前)" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :menu, "メニューを選択してください" %>
    <%= f.select :menu_id, menus.map { |menu| [menu.name, menu.id] },
      { include_blank: '選択してください'}, id: "menu_id" %>
  </div>
  <div class="field">
    <%= f.label :start_time, "日時" %>
    <%= f.datetime_select :start_time, { default: Date.today + 9.hour + 30.minute, minute_step: 15 } %>
  </div>
  <div class="actions">
    <%= f.submit class: 'reservation-botan' %>
  </div>
  <%= link_to "予約表を確認する", reservations_path, class: "reservations-link" %>
<% end %>