<% provide(:title, "Home") %>
<% if logged_in? %>
  <%= render "top" %>
<% else %>
<%= render "layouts/header" %> 
<div class="top">
  <div class="top-container">
    <h1>E.Y.M is Online DJ School</h1>
    <h1>- Enjoy Your Music -</h1>
    <div class="btn-wrapper">
      <%= link_to "ゲストログイン(ゲストユーザー)", guest_login_path, method: :post, class: "botan login" %>
      <%= link_to "ゲストログイン(管理者用)", admin_login_path, method: :post, class: "botan gest-login" %>
    </div>
  </div>
</div>
<div class="message-wrapper">
  <h2>ご自宅でDJデビューしませんか？</h2>
  <h3>STAY HOMEでも音楽は楽しめる！</h3>
  <p>配信の方法やmixの作成など<p>
  <p>DJに必要な要素は全て教えます！</p>
</div>
<%= render 'layouts/footer' %>
<% end %>